acm-sdk-python==0.4.11
aliyun-python-sdk-cms==7.0.4
aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-dyvmsapi==3.0.2
aliyun-python-sdk-ram==3.2.0
aliyun-python-sdk-sts==3.0.2
aliyun-python-sdk-tag==1.0.1
aliyun-python-sdk-vpc==3.0.8
